#garden {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#greeting {
    text-align: center;
    width: 70%;
}

#tiles {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plant {
    width: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.watering-button {
    margin: 5px;
    background-color: #a9d9f1;
}

.tile {
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 10px;
}

